<!-- Side navigation -->
<div class="sidenav">
    
    <a href="#"><img class="img" src="https://cdn-icons-png.flaticon.com/128/456/456212.png"> User Profile</a>
    
    <a href="#"><img class="img" src="https://cdn-icons-png.flaticon.com/128/942/942799.png"> Account Details</a>
    
    <a [routerLink]="['/deposit']" routerLinkActive="active"><img class="img" src="https://cdn-icons-png.flaticon.com/128/4379/4379798.png"> Deposit Cash</a>
    
    <a href="#"><img class="img" src="https://cdn-icons-png.flaticon.com/128/866/866095.png"> Withdraw cash</a>
    
    <a [routerLink]="['/fundstransfer']" routerLinkActive="active"><img class="img" src="https://cdn-icons-png.flaticon.com/128/3359/3359222.png"> Funds Transfer</a>
    
    <a href="#"><img class="img" src="https://cdn-icons-png.flaticon.com/128/879/879890.png"> Transaction History</a>
  </div>